* {
  text-align: center;
}
 
.navbar {
  padding: 18px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}
.navbar .icon {
  font-size: 35px;
  text-align: left;
  text-decoration: none;
  color: rgb(45,104,196);
}

.navbar .navlinks {
  margin-left: auto;
}

.navbar .navlinks .link{
  color: rgb(242,169,0);
  margin-left: 16px ;
  margin-top: auto;
  padding: 6px;
}

.greet {
  color: rgb(45,104,196);
  
}
.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

